.backgroundLogin{
    background-color: #E4D8D4;
    height: 100vh;
}

.text-decorator-none {
    text-decoration: none;
}

.teste-b:focus{
    outline: none !important;
}


.img-log{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px!important;
    padding-right: 20px;
}

.vl {
    position: absolute;
    width: 700px;
    height: 100vh;
    border-right: 29px solid #DA781D;
    right: 95%;

}

.vl2 {
    position: absolute;
    width: 700px;
    height: 100vh;
    border-right: 29px solid #DA781D;
    left: -42%;

}



.caixa-login {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    margin: 0 !important;

}

.texto1 {
    font-weight: bold !important;
}

.bnt-cancelar {
    display: flex;
    justify-content: center;
    gap: 15px !important;
}

.login-cad1 {
    color: #D9663D;
    font-size: 18px !important;
}

.login-cad2 {
    color: #785846;
    font-size: 18px !important;
}

.login-text {
    color: #B6917B;
}

.btn-login {
    width: 150px !important;
    background-color: #E5E5E5 !important;
    color: #B6917B !important;
    border-radius: 17px !important;
    text-transform: none !important;
}

.form-back {
    padding: 0px !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    background-color: #AE988D !important;
    border-radius: 10px !important;
}

textarea:focus, input:focus{
    outline: none;
}