
.caixa{
    background-color: #FAF6F4;
}

.titulo{
    font-weight: bold !important;
    color: white;
    font-family: Roboto !important; 
    margin-left: 10px !important;   
}

.imagem{
    cursor: pointer;
}

.teste{
    padding: 5px;
}