.tituloCategoria {
    margin-top: 5vh;
    color: #A64208 !important;
}

.subtituloCategoria {
    position: absolute;
    left: 12.57%;
    right: 64%;
    top: 15%;
    bottom: 50%;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;

    color: #B6917B;
}

.subtituloCategoria2 {
    position: absolute;
    left: 13.82%;
    right: 71%;
    top: 40%;
    bottom: 42.48%;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;

    color: #B6917B;
}

.caixaCategoria {
    width: 85vw;
    height: 455px;

    position: absolute;
    left: 6.04%;
    right: 6.11%;
    top: 26.95%;
    bottom: 16.7%;
    background: rgba(120, 88, 70, 0.29);
    mix-blend-mode: normal;
    border-radius: 10px;
}

.nomeCategoria {
    width: 766px;
    height: 55px;

    position: absolute;
    left: 17.15%;
    right: 31.25%;
    top: 25%;
    bottom: 51.95%;

    background: #f1f1f1!important;
    mix-blend-mode: screen;
    border-radius: 3px;
    
}

.descricaoCategoria {
    width: 766px;
    height: 130px;

    position: absolute;
    left: 17.15%;
    right: 29.65%;
    top: 50%;
    bottom: 28.03%;

    background: #f1f1f1!important;
    mix-blend-mode: screen;
    border-radius: 3px;

}

.btnCategoria {
    width: 217px;
    height: 62px;

    position: absolute;
    left: 40%;
    right: 50%;
    top: 82%;
    bottom: 19.73%;
    border-radius: 20px;

    color: #B6917B;
    font-size: 20px;
}