.caixaProduto {
    width: 85vw;
    height: 455px;

    position: absolute;
    left: 6.04%;
    right: 6.11%;
    top: 26.95%;
    bottom: 16.7%;
    background: rgba(120, 88, 70, 0.29) !important;
    mix-blend-mode: normal;
    border-radius: 10px;
}

.tituloProduto {
    margin-top: 5vh;
    color: #A64208 !important;
}

.subtituloProduto {

    color: #B6917B;
}

.subtituloProduto2 {
    position: absolute;
    left: 57%;
    right: 27.22%;
    top: 5%;
    bottom: 63.1%;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;

    color: #B6917B;
}

.subtituloProduto3 {

    color: #B6917B;
}

.subtituloProduto4 {

    color: #B6917B;
}

.subtituloProduto5 {

    color: #B6917B;
}

.nomeProduto {
    width: 561;
    height: 71;

    position: absolute;
    left: 11%;
    right: 45%;
    top: 10%;
    bottom: 72.7%;

    background: #f1f1f1 !important;
    mix-blend-mode: screen;
    border-radius: 3px;
}

.tamanhoProduto {
    position: absolute;
    left: 60%;
    right: 12%;
    top: 15%;
    bottom: 75%;

}

.quantidadeProduto {
    width: 209px;
    height: 56px;

    position: absolute;
    left: 11%;
    right: 60%;
    top: 33%;
    bottom: 30%;

    background: #f1f1f1 !important;
    mix-blend-mode: screen;
    border-radius: 3px;
}

.precoProduto {
    width: 209px;
    height: 56px;

    position: absolute;
    left: 35%;
    right: 39.93%;
    top: 33%;
    bottom: 43.95%;

    background: #f1f1f1 !important;
    mix-blend-mode: screen;
    border-radius: 3px;
}

.categoriaProduto {
    position: absolute;
    left: 60%;
    right: 15%;
    top: 35%;
    bottom: 60%;
}

.descricaoProduto {
    width: 890px;
    height: 150px;

    position: absolute;
    left: -196%;
    right: 10%;
    top: 350%;
    bottom: 18.07%;


    background: #f1f1f1 !important;
    mix-blend-mode: screen;
    border-radius: 3px;
}

.btnProduto {
    width: 217px;
    height: 62px;

    position: absolute;
    left: -77%;
    right: 50%;
    top: 1400%;
    bottom: 19.73%;

    border-radius: 20px;
    color: #B6917B;
    font-size: 20px;
}